@font-face {
  font-family: 'ahead';
  src: url('../font/ahead.eot?78822341');
  src: url('../font/ahead.eot?78822341#iefix') format('embedded-opentype'),
       url('../font/ahead.woff2?78822341') format('woff2'),
       url('../font/ahead.woff?78822341') format('woff'),
       url('../font/ahead.ttf?78822341') format('truetype'),
       url('../font/ahead.svg?78822341#ahead') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'ahead';
    src: url('../font/ahead.svg?78822341#ahead') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "ahead";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-accounts:before { content: '\e800'; } /* '' */
.icon-alignment:before { content: '\e801'; } /* '' */
.icon-app-arch:before { content: '\e802'; } /* '' */
.icon-app-performance:before { content: '\e803'; } /* '' */
.icon-approach:before { content: '\e804'; } /* '' */
.icon-arch:before { content: '\e805'; } /* '' */
.icon-assess:before { content: '\e806'; } /* '' */
.icon-automate:before { content: '\e807'; } /* '' */
.icon-best-practices:before { content: '\e808'; } /* '' */
.icon-business:before { content: '\e809'; } /* '' */
.icon-cloud-mgmt:before { content: '\e80a'; } /* '' */
.icon-cloud-mgmt-platform:before { content: '\e80b'; } /* '' */
.icon-cmdb:before { content: '\e80c'; } /* '' */
.icon-communicate:before { content: '\e80d'; } /* '' */
.icon-compute:before { content: '\e80e'; } /* '' */
.icon-config-mgmt:before { content: '\e80f'; } /* '' */
.icon-connections:before { content: '\e810'; } /* '' */
.icon-containers:before { content: '\e811'; } /* '' */
.icon-continuous:before { content: '\e812'; } /* '' */
.icon-cost-cuts:before { content: '\e813'; } /* '' */
.icon-data-center:before { content: '\e814'; } /* '' */
.icon-data-protect:before { content: '\e815'; } /* '' */
.icon-dependencies:before { content: '\e816'; } /* '' */
.icon-deployment:before { content: '\e817'; } /* '' */
.icon-develop:before { content: '\e818'; } /* '' */
.icon-dev-ops:before { content: '\e819'; } /* '' */
.icon-tool-chain:before { content: '\e81a'; } /* '' */
.icon-discover:before { content: '\e81b'; } /* '' */
.icon-edu:before { content: '\e81c'; } /* '' */
.icon-empowerment:before { content: '\e81d'; } /* '' */
.icon-ahead-newartboard-38:before { content: '\e81e'; } /* '' */
.icon-ahead-newartboard-39:before { content: '\e81f'; } /* '' */
.icon-enterprise:before { content: '\e820'; } /* '' */
.icon-service-mgmt:before { content: '\e821'; } /* '' */
.icon-expansion:before { content: '\e822'; } /* '' */
.icon-extend:before { content: '\e823'; } /* '' */
.icon-financial-mgmt:before { content: '\e824'; } /* '' */
.icon-goal:before { content: '\e825'; } /* '' */
.icon-governance:before { content: '\e826'; } /* '' */
.icon-compliance:before { content: '\e827'; } /* '' */
.icon-growth:before { content: '\e828'; } /* '' */
.icon-infrastructure:before { content: '\e829'; } /* '' */
.icon-indentity:before { content: '\e82a'; } /* '' */
.icon-implement:before { content: '\e82b'; } /* '' */
.icon-investment:before { content: '\e82c'; } /* '' */
.icon-lifecycle:before { content: '\e82d'; } /* '' */
.icon-log:before { content: '\e82e'; } /* '' */
.icon-mgmt:before { content: '\e82f'; } /* '' */
.icon-marketing:before { content: '\e830'; } /* '' */
.icon-migration:before { content: '\e831'; } /* '' */
.icon-network:before { content: '\e832'; } /* '' */
.icon-threat-detection:before { content: '\e833'; } /* '' */
.icon-network-design:before { content: '\e834'; } /* '' */
.icon-operational-costs:before { content: '\e835'; } /* '' */
.icon-operations:before { content: '\e836'; } /* '' */
.icon-monitor:before { content: '\e837'; } /* '' */
.icon-org-ready:before { content: '\e838'; } /* '' */
.icon-platform-security:before { content: '\e839'; } /* '' */
.icon-process:before { content: '\e83a'; } /* '' */
.icon-process-results:before { content: '\e83b'; } /* '' */
.icon-provisioning:before { content: '\e83c'; } /* '' */
.icon-public-cloud:before { content: '\e83d'; } /* '' */
.icon-roadmap:before { content: '\e83e'; } /* '' */
.icon-security:before { content: '\e83f'; } /* '' */
.icon-serverless-arch:before { content: '\e840'; } /* '' */
.icon-servers:before { content: '\e841'; } /* '' */
.icon-catalog:before { content: '\e842'; } /* '' */
.icon-delivery:before { content: '\e843'; } /* '' */
.icon-simplify:before { content: '\e844'; } /* '' */
.icon-speed:before { content: '\e845'; } /* '' */
.icon-stable:before { content: '\e846'; } /* '' */
.icon-standardize:before { content: '\e847'; } /* '' */
.icon-storage:before { content: '\e848'; } /* '' */
.icon-strategy:before { content: '\e849'; } /* '' */
.icon-sys-admin:before { content: '\e84a'; } /* '' */
.icon-testing:before { content: '\e84b'; } /* '' */
.icon-validation:before { content: '\e84c'; } /* '' */
.icon-virtual-machine:before { content: '\e84d'; } /* '' */